.historyTitle h1{
    text-align: center;
    font-size: 35px;
    color: wheat;
    margin-top: 5%;
}

.history iframe{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 800px;
}

