{% extends 'base.html.twig' %}

{% block title %}Hello HistoryController!{% endblock %}

{% block body %}
<div class="historyTitle">
<h1>Découvrez l’histoire du Cirque en vidéo..</h1>
</div>
<div class="history">
<iframe  src="https://www.youtube.com/embed/TpcJ9RKbqcY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}
